@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Fredoka+One&family=Kavoon&family=Oi&family=Roboto:wght@100;300;400;500;700&family=Shrikhand&family=Ultra&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Corben', cursive;
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFE32C;
}

main {
    flex: 1 0 100%;
}

/* --- MAIN HEADING --- */

#heading-container {
    display: flex;
    justify-content: center;
}

#main-heading {
    border-radius: 10px;
    padding: 10px;
    /* margin-bottom: 10px; */
    background: linear-gradient(315deg, #a87cff, #8d68db);
    box-shadow: 0px 10px 26px #7f5ec5, 0px 20px 36px #bb8aff;
    height: 7rem;
    display: inline-flex;
    align-items: center;
    border: solid;
    border-color: #bb8aff;
}

h1 {
    color: #fdfdfd;
    font-weight: 900;
    margin-bottom: 2rem;
    font-size: 3.2rem;
}

/* --- GAME AREA  --- */

#game-area {

    border-radius: 20px;
    background: linear-gradient(315deg, #a87cff, #8d68db);
    box-shadow: -14px 4px 26px #7f5ec5, 0px 20px 36px #bb8aff;
    border: solid;
    border-color: #bb8aff;

}

.container {

    width: 90%;
    max-width: 960px;
    padding: 2%;
    margin: 0 auto;

}

/* GAME AREA HEADING */

#game-heading {
    width: 85%;
    margin: 4% auto;
    color: azure;
}

/* --- MIDDLE SECTION - GAME AREA --- */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    gap: 1.25rem;
    align-items: start;
    justify-items: center;
}

/* DIFFICULTY / START BUTTON */

#left-area {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

#difficulty {

    padding: 0.35rem;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    background-color: #9d74f3;
    color: #FFE32C;
}

#btn-start {
    border-radius: 2rem;
    padding: 6px;
    color: #FFE32C;
    cursor: pointer;
}

/* GUESS AREA / GUESS BUTTON */

#guess-area {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: orange;
    background: azure;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
    border-radius: 10px;
}

#btn-guess {

    border: none;
    margin: 1rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    border-radius: 15px;
    background-color: #FFE32C;
    color: #9d74f3;
    padding: 4px 16px;
    cursor: pointer;
}

#center-area p {
    color: azure;
}

/* TIME LEFT */

#right-area p {
    margin: 1rem;
    color: azure;
}

/* --- BOTTOM SECTION - GAME AREA --- */

#bottom-area {
    color: azure;
}

/* "PRESS PLAY BUTTON TO START" TEXT */

#high-low {
    margin-bottom: 2%;
    font-size: 1.7rem;
}

/* NEW GAME - BUTTON */

#btn-new-game {
    margin-top: 2rem;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #9d74f3;
    color: azure;
    border: none;
}

/* ICONS */

#btn-guess i {
    color: #9d74f3;
}

h1 i,
#right-area i,
#btn-start i,
#btn-new-game i {
    color: #FFE32C;
}

/* --- GROW - HOVER EFFECT --- */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* --- MEDIA SCREENS --- */

@media only screen and (max-width: 768px) {

    .grid {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem 0;
        gap: 1rem;
    }

    .grid div:nth-of-type(3) {
        order: -1;
    }

    #guess-area {
        margin-top: 10px;
    }

    h1 {
        margin-bottom: 1rem;
        font-size: 2.2rem;
    }

    #right-area p {
        margin: 0 1rem;
        color: azure;
    }

    #btn-guess {
        width: 100%;
        margin: 1rem 0;
    }

}


@media screen and (max-width: 480px) {

    .grid {
        gap: 0rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    h1 i {
        font-size: 2rem;
    }

    #high-low {
        font-size: 1.3rem;
    }

    #btn-new-game {
        margin-bottom: 0.5rem;
    }

    #game-heading h3:first-child {
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
    }

    #game-heading {
        margin: 15% auto;
    }

}